# تجاهل كل ملفات .a
*.a

# لكن تتبع lib.a رغم تجاهل .a
!lib.a

# تجاهل ملف TODO في المجلد الرئيسي فقط
/TODO

# تجاهل كل الملفات داخل أي مجلد اسمه build
build/

# تجاهل doc/notes.txt فقط، وليس doc/server/arch.txt
doc/*.txt

# تجاهل كل ملفات .pdf داخل doc/ وأي مجلد فرعي
doc/**/*.pdf
